@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{font-family: 'Montserrat', sans-serif;}
body{
    background-color: #121212 !important;
}

.bg-dark{
    background-color: #202020 !important;
}

.prog-icon{width: 70px;height: 70px;}

.cs-item {
	text-align: center;
	margin-bottom: 30px;
}

.cs-item:hover span {
	background: #f36100;
	color: #ffffff;
}

.cs-item span {
	height: 90px;
	width: 90px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	display: inline-block;
	color: #f36100;
	line-height: 90px;
	text-align: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.cs-item h4 {
	color: #ffffff;
	font-size: 22px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 16px;
}
.cs-item>.prog-icon{
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.cs-item:hover>.prog-icon{
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
